*{
  margin: 0;
}




.app__header{
  background-color: #fafafa;
  padding: 20px;
 
  border-bottom: 1px solid lightgray;
  object-fit: contain;
}
.logo{
  font-family: 'Lobster', cursive;
}
.app__signup{
   display: flex;
   flex-direction: column;
}